<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690314374484-uvonq039vc9abn7854hu2ga6pco6gv9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690314374484-uvonq039vc9abn7854hu2ga6pco6gv9p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690314374484-96kegfd8ppc3umg5dmon8nkh3ctp42gk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUhniCX4NVpsPg_m8-BuRT2m2XCj4_nAA</string>
	<key>GCM_SENDER_ID</key>
	<string>690314374484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prota</string>
	<key>PROJECT_ID</key>
	<string>prota-989a4</string>
	<key>STORAGE_BUCKET</key>
	<string>prota-989a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690314374484:ios:db84905f746e36eb1bacc1</string>
</dict>
</plist>